.header {
  height: 40vh;
}
.header h2 {
  margin-top: 100px;
}

#todo-form .form-group {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 1.5em;
}

ul li.list-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.modify-list {
  justify-self: end;
}
.item-name {
  font-size: 20px;
  align-self: center;
}
